/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.logo {
    font-family: "Pacifico", cursive !important;
    font-style: normal;
    font-size: 2rem;
}